.centrar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.titulo{
  font-size: 80px;
  text-align: center;
}

.descripcion{
  font-size: 25px;
  text-align: center;
}

.formpadd{
  padding-left: 15rem !important;
  padding-right: 15rem !important;
  padding-bottom: 2rem !important;
}

.centrarbot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bot{

  max-width: 10rem !important;
  width: 100% !important;

}

.centres{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}